@charset "UTF_8";

body{
    background-color: rgb(170, 248, 248);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
h1{
    color: darkblue;
}
h2{
    color: blueviolet;
}
p{
    text-align: justify;
    
}